.main {
    background-color: #1f242d;
}

@media(max-width:575px) {
    .card {
        margin-top: 30px;
    }
}

@media(max-width:990px) {
 

    .top {
        margin-top: 30px !important;
    }
}


.one {
    padding-top: 80px;
}

.boxx .img-fluid {
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
}

.boxx {
    width: 300px;
    height: 320px;
    background-color: rgb(201, 234, 236);
    border-radius: 10px;
}


.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #0ef;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style-type: none;
}

.tab-contents {
    margin-left: -40px;
    margin-top: -30px;
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* education section */

.card i {
    font-size: 5rem;
    color: #0ef;
}

.card {
    background-color: #323946 !important;
    border-radius: 10px !important;
    transition: .5s ease !important;
    border: .2rem solid #1f242d;
}

.card:hover {
    background-color: #0ef !important;
    border-color: #0ef;
    transform: scale(1.06);
}

/*   courosel */

div.carousel-item {
    background: #323946 !important;
    border-radius: 10px !important;
}

div.carousel-item:hover {
    border: 2px solid #0ef !important;
}

.icon {
    display: flex;
    justify-content: center;
}

.icon .bx {
    font-size: 40px;
}