.bor{    width: 50%;
    height: 80%;
    margin: auto;
border: solid white;}
.mai{
    display: flex;
    align-items: center;
    background-color: #1f242d;
    height: 150vh;
}

.dis{
    display: flex;
    flex-direction: column;
   width:fit-content;
   margin: auto;
    
}
.dis input{width:40vw;
    margin-bottom: 20px;
height: 7vh;
background: transparent;
border: white solid;
border-radius: 5px;
color: white;}

.ar{
    background: transparent;
    border: white solid; 
    border-radius: 5px;
    width:40vw;
    resize: none;
    color: white;
}
.bv{width: 100px;
    height: 40px;
background: transparent;
border: white solid;
color: white;
border-radius: 5px;
margin: 30px auto;}

.me{
    padding-top: 30px;
}

.dis input:hover{
    border: solid  #0ef;
}
.ar:hover{
    border: solid  #0ef;
}
.bv:hover{
    color: black;
    background-color: white;
}