.main{background-color: #1f242d;}

span{color: #0ef;}


.one{padding-top: 80px;}

.card{background-color:#323946 !important;
    border-radius: 10px !important;
    transition: .5s ease !important;
    border: .2rem solid #1f242d;}



.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
    width: 90%;
    margin: auto;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    

}
.work img{
    border: 2px solid #0ef;
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{width: 100%;
height: 0;
background: linear-gradient(rgba(0,0,0,0.6),#0ef);
border-radius: 10px;
position: absolute;
left: 0;
bottom: 0;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
padding: 0 40px;
text-align: center;
flex-direction: column;
font-size: 14px;
transition: height 0.5s;
}


.layer h3{font-weight: 500;
margin-bottom: 20px;
}
.layer a{margin-top: 20px;
color: #0ef;
text-decoration: none;
font-size: 18px;
line-height: 60px;
background: white;
width: 60px;
height: 60px;
border-radius: 50%;
text-align: center;}
.work:hover img{transform: scale(1.1);}
.work:hover .layer{height: 100%;}