/* technicl knwldge */

.card i {
    font-size: 5rem;
    color: #0ef;
}

.card {
    background-color: #323946 !important;
    border-radius: 10px !important;
    transition: .5s ease !important;
    border: .2rem solid #1f242d;
}

.card:hover {
    border-color: #0ef;
    transform: scale(1.06);
}

@media(max-width:575px) {
    .card {
        margin-top: 30px;
    }
}



.col-lg-4{
    display: flex;
    justify-content: center;
}